// Use this layout when you need the css styling directly in the rendered page.

<head>
    <style>
        body {
            background-color: lightblue;
        }

        p {
            color: navy;
            margin-left: 20px;
        }
    </style>
</head>

@RenderBody()
