// Use this layout when you need the css referenced to the css styling that's on the server

<head>
    <link href="@Url.Content("~/Styles/main.css")" rel="stylesheet" type="text/css" />
</head>

@RenderBody()
